@import "tailwindcss";

.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-mono {
  font-family:'ui-monospace', 'SFMono-Regular', 'Menlo', 'monospace'
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-shimmer {
  background: linear-gradient(270deg, #70f6d6, #041d27, #00bcff);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 8s ease infinite;
}

.shimmer-mask {
  background: linear-gradient(270deg, #70f6d6, #041d27, #00bcff);
  background-size: 600% 600%;
  animation: shimmer 8s ease infinite;

  mask-image: url('/img/logo_chu_blakbg-removebg.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url('/img/logo_chu_blakbg-removebg.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}

